{% extends "main.html" %}

{% block content %}
<style>
    p{
        padding-top: 100px;
        color: #f1f1f1;
        font-size: 40px;
        font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
        text-align: center;
    }
</style>
    <p>
        In the dropdown menu that appear when you hover on the logo hover on to Manage to see the sub dropdown menu.Then click on the classes and add the classes and the subjects to be taught to the class one by one. If there is a typo delete button can be used to delete the response. Then go to sub drop down menu and click on subjects.
        Add the subjects and the frequency of the subject per week.You can update and delete a subject details.Then click on teachers in the sub drop down list.Add teacher name and select the subject he/she teaches in the drop down list of subjects. Then go back to sub drop down menu and click on slots to add time-slots.Select whether the time-slot should be class or break.Then go back to drop down menu and selct open.
        Select the teacher or the class for which you want to see the timetable.
    </p>
{% endblock %}